*{
    padding: 0px;
    margin: 0px;
    background-color: #e9ebee;
}  
body header 
{
    background-color: #415e9b;
    height: 42px;
}
header .image
{
    margin-left: 100px;
    margin-top: 0px;
    padding: 0px;
    background-color: #133783;
}
.search-bar input
{
    position: relative;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    height: 20px;
    width:400px;
 
}
.align {
    margin-left: 100px;
    color:#133783;
}
body header span .profilepic{
    border-radius: 50%;
    margin-top: 10px;
}
.user-id a b button{
    display: flex;
    float:left;
    margin-top: 12px;
    margin-left: 100px;
    background-color: #133783;
}
.home a b:hover{
    display: flex;
    float:left;
    margin-top: 12px;
    margin-left: 100px;
    background-color: #133783;
}
.create a b:hover{
    display: flex;
    float:left;
    margin-top: 12px;
    margin-left: 100px;
    background-color: #133783;
}
header .friendreq {
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    background-color: #133783;
}
header .messenger{
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    background-color: #133783;
}  
header .notification {
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    background-color: #133783;
}   
span .News-Feed{
    margin-left: 100px;
    margin-top: 12px;
    padding: 0px;
    background-color: #133783;
}
.icons{
    margin-top: 50px;
}
            .card-0
            {
             margin-top: 30px;
             height:30px;
             width:500px;
             margin-left: 350px;
             text-transform: initial; 
             background-color: #f5f6f7;
            } 
            .card-1
            {
             margin-top: 2px;
             height:140px;
             width:500px;
             margin-left: 350px;
             justify-content: space-between;
            background-color: #fff;
            }              
 .card-1 button{
     margin-top: 35px;
     border-radius: 15%; 
     margin-left: 25px;
     text-align: center;
 }                                
.card-2 {
 margin-top: 15px;
 height:500px;
 width:500px;
 margin-left: 350px;
 justify-content: space-between;
 background-color:#fff;
 }
 .card-2 .like{
    margin-top: 20px;
    border-radius: 15%; 
    margin-left: 30px;
}  
.card-2 .comment{
    margin-top: 20px;
    border-radius: 15%; 
    margin-left: 100px;
}  
.card-2 .share{
    margin-top: 20px;
    border-radius: 15%; 
    margin-left: 100px;
}  

.card-3
{
 height:500px;
 width:500px;
 margin-left: 350px;
 justify-content: space-between;
 background-color:#fff;
 margin-top: 0px;
}
.card-3 .like{
    margin-top: 20px;
    border-radius: 15%; 
    margin-left: 30px;
}  
.card-3 .comment{
    margin-top: 20px;
    border-radius: 15%; 
    margin-left: 100px;
}  
.card-3 .share{
    margin-top: 20px;
    border-radius: 15%; 
    margin-left: 100px;
} 
.card-4
{
 height:500px;
 width:500px;
 margin-left: 350px;
 justify-content: space-between;
 background-color:#fff;
 margin-top: 0px;
}
.card-4 .like{
    margin-top: 20px;
    border-radius: 15%; 
    margin-left: 30px;
}  
.card-4 .comment{
    margin-top: 20px;
    border-radius: 15%; 
    margin-left: 100px;
}  
.card-4 .share{
    margin-top: 20px;
    border-radius: 15%; 
    margin-left: 100px;
} 
.card-5
{
 height:500px;
 width:500px;
 margin-left: 350px;
 justify-content: space-between;
 background-color:#fff;
 margin-top: 0px;
}
.card-5 .like{
    margin-top: 20px;
    border-radius: 15%; 
    margin-left: 30px;
}  
.card-5 .comment{
    margin-top: 20px;
    border-radius: 15%; 
    margin-left: 100px;
}  
.card-5 .share{
    margin-top: 20px;
    border-radius: 15%; 
    margin-left: 100px;
} 